<ion-view>

  <ion-nav-bar class="footerlogin">
    <ion-nav-title class="headerBack">
      <p style="color: white; text-align: center">แก้ไขรหัสผ่าน</p>
    </ion-nav-title>
    <ion-nav-buttons side="left">
      <button class="button w3-button w3-blue w3-round icon-left ion-ios-arrow-back" ng-click="btnBack()">Back</button>
    </ion-nav-buttons>

  </ion-nav-bar>
  <ion-content>
    <div class="list card">
      <ion-item class="profile-item">
        <div class="profile-picture big-profile-picture">
          <img src="https://goo.gl/xbUXMm">
        </div>
      </ion-item>
      <form>
        <div class="container">
          <label><b>Password</b></label>
          <input type="password" placeholder="ใส่รหัสผ่านใหม่ของคุณ" ng-model="form.txt_newpass" required>

          <label><b>Confirm Password</b></label>
          <input type="password" placeholder="ใส่รหัสผ่านใหม่ของคุณอีกครั้ง" ng-model="form.txt_confirm" required>

          <ion-item class="profile-item">
            <button type="submit" class="button button-block button-positive" ng-click="btnPassword()">
              เปลี่ยนรหัสผ่าน
            </button>
          </ion-item>
        </div>

        <div class="container" style="background-color:#f1f1f1">

        </div>
      </form>
    </div>
  </ion-content>

</ion-view>
