<ion-view>
  <ion-nav-bar class="footerlogin">
    <ion-nav-title class="headerBack">
      <p style="color: white; text-align: center">Visit Reservation</p>
    </ion-nav-title>

    <ion-nav-buttons side="left">
      <button class="button w3-button w3-blue w3-round icon-left ion-ios-arrow-back" ng-click="btnBack()">Back</button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>

    <img src="https://goo.gl/fgYlG3" class="imgCenter" style="width:50%">
    <br>

    <div class="list">
      <div class="item item-icon-left">
        <p class="icon ion-card"></p>ช่อง : {{txtRoom}}</div>
      <div class="item item-icon-left">
        <p class="icon ion-disc"></p>สถาณะ : {{txtStatus}}</div>
      <div class="item item-icon-left">
        <p class="icon ion-android-calendar"></p>วันเวลา : {{txtTime}}</div>

    </div>

  </ion-content>
</ion-view>
